.features {
  background-color: $bg-basic;
  padding: 23px 18px;
}

.features__list {
  @include list-reset;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.features__item {
  text-align: left;
}
