.form__group {
  margin: 0;
  padding: 24px 0;
  border: none;
}

.form__title {
  text-align: center;
}

.form__label {
  text-transform: uppercase;
}

.form__list {
  @include list-reset;
}

.form__button {
  padding: 16px 49px;
}

.form__legend {
  color: rgba($text-basic, 0.6);
  font-size: 12px;
}
