.hero {
  margin: 0;
  background-color: $bg-hero;
  background-position: bottom center, center;
  background-repeat: no-repeat, no-repeat;
  background-size: 100% auto, 100% auto;
  text-align: center;

  &--index {
    padding-top: 90px;
    padding-bottom: 85px;
    background-image: url("../img/hero-divider.svg"), url("../img/hero-index.jpg");
  }

  &--inner {
    padding-top: 52px;
    padding-bottom: 67px;
    background-image: url("../img/hero-divider.svg"), url("../img/hero-inner.jpg");
  }
}

.hero__text {
  margin: 0 auto;
  display: block;
}
