.page {
  margin: 0;

  @media (min-width: $desktop-width) {
    background-color: $light-grey4;
  }
}

.page__body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: $mobile-width;
  max-width: $desktop-width;
}
