.photo-catalog {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.photo-catalog__header {
  max-width: 445px;
  margin: 37px auto;
  text-align: center;
}

.photo-catalog__list {
  @include list-reset;
  display: grid;
  justify-content: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.photo-catalog__item {
  padding-top: 24px;
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  &--large {
    @media (min-width: $tablet-width) {
      grid-column: 1/-1;
    }
  }
}

.photo-catalog__image {
  margin: 0;
}
