.video-presentation {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 200px;
    padding-right: 200px;
  }
}

.video-presentation__header {
  margin: 0 auto;
  padding: 17px 6px 24px;
  max-width: 445px;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 60px;
    padding-bottom: 65px;
  }
}
