//цвета
$white: #ffffff;
$light-blue: #81b3d2;
$blue: #669ec0;
$dark-blue: #5496bd;
$black: #000000;
$dark-grey: #333333;
$brown: #766357;
$light-grey1:#eeeeee;
$light-grey2:#eaeaea;
$light-grey3:#e5e5e5;
$grey: #e6e6e6;

// шрифт
$text-basic: $dark-grey;
$text-accent: $black;
$text-light: $white;
$text-current: $brown;

// фон
$bg-basic: $white;
$bg-accent1: $light-blue;
$bg-accent2: $light-grey1;
$bg-form-basic: $light-grey3;
$bg-form-accent: $grey;
$bg-hero: $dark-blue;

// вьюпорты
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;
